@model Exam_Web_Core.ViewModels.ChangePassword_Model
@{
    ViewBag.Title = "Đổi Mật Khẩu";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div id="message" style="height:50px;">
    @{
        if (@ViewBag.AlertMessage != null)
        {
            if (@ViewBag.AlertMessage == "1")
            {
                <div class="alert alert-success" role="alert">
                    Đổi mật khẩu thành công!
                </div>
                <script>
                    setTimeout(() => {
                        document.getElementById("message").style.opacity = 0;
                        window.location.href = "@Url.Action("Logout", "Home")";
                    }, 3000);
                </script>
                
            }
            if (@ViewBag.AlertMessage == "0")
            {
                <div class="alert alert-danger" role="alert">
                    Mật khẩu cũ của bạn không chính xác!
                </div>
                <script>
                    setTimeout(() => {
                        document.getElementById("message").style.opacity = 0;
                    }, 3000);
                </script>
            }
        }
    }
</div>


<div class="container pt-2">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Đổi mật khẩu</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            <label for="OldPassword" class="col-form-label" style="font-weight:700;" onclick="submit()">Mật Khẩu Hiện Tại (*)</label>
                            <input class="form-control rounded-pill" id="OldPassword" required name="OldPassword" type="password" autocomplete="off" />
                        </div>
                        <div>
                            <label for="NewPassword" class="col-form-label" style="font-weight:700;">Mật Khẩu Mới (*)</label>
                            <input type="password" class="form-control rounded-pill" id="NewPassword" onkeyup="check()" required name="NewPassword" autocomplete="off" />
                        </div>
                        <div>
                            <label for="ConfirmNewPassword" class="col-form-label" style="font-weight:700;">Gõ lại mật khẩu mới (*)</label>
                            <input type="password" class="form-control rounded-pill" id="ConfirmNewPassword" onkeyup="check()" required name="ConfirmNewPassword" autocomplete="off" />
                            <span id="ConfirmNewPassword_message"></span>
                        </div>
                        <input type="submit" class="btn btn-primary mt-2 btn-block rounded-pill" style="font-size:22px;" value="Lưu lại" id="btn_submit" />
                    </div>
                </div>
                
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script>
    function check() {
        if (document.getElementById("NewPassword").value == document.getElementById("ConfirmNewPassword").value) {
            document.getElementById("ConfirmNewPassword_message").style.color = "green";
            document.getElementById("ConfirmNewPassword_message").innerHTML = "Match";
            document.getElementById("btn_submit").type = "submit";
        } else {
            document.getElementById("ConfirmNewPassword_message").style.color = "red";
            document.getElementById("ConfirmNewPassword_message").innerHTML = "Not Match";
            document.getElementById("btn_submit").type = "";
        }

    };
    //function submit() {
    //    document.getElementById("message").style.display = "block";
    //}

</script>
