@model Exam_Web_Core.LienHe
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div id="message" style="height:50px;">
    @{
        if (ViewBag.Message == "1")
        {
            <div class="alert alert-success">
                Gửi ý kiến thành công!
            </div>
            <script>
                var i = 1;
                setTimeout(() => {
                    setInterval(() => {
                        document.getElementById("message").style.opacity = i;
                        i -= 0.1;
                    }, 60)
                }, 2000)
            </script>
        }
    }
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card mt-2">
                <div class="card-header">
                    <h3 class="text-center">Ý Kiến Của Bạn</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div>
                            <label class="col-form-label" style="font-weight:700;" for="HoVaTen">Họ Và Tên</label>
                            <input class="form-control" id="HoVaTen" name="HoVaTen" required/>
                        </div>
                        <div>
                            <label class="col-form-label" style="font-weight:700;" for="Email">Địa Chỉ Email</label>
                            <input class="form-control" id="Email" name="Email" required/>
                        </div>
                        <div>
                            <label class="col-form-label" style="font-weight:700;" for="PhanHoi">Ý Kiến Của Bạn</label>
                            <textarea class="form-control " rows="4" id="PhanHoi" name="PhanHoi" required></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary mt-2 rounded-pill" value="Gửi Ý Kiến"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

