
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div style="background-image:url('../../../../Assets/Admin/images/admin_home.jpg'); height:730px;" class="text-center">
    <div style="font-size:40px; font-weight:700; padding-top:23%;">ADMINISTRATOR</div>
</div>

